
:root {
  --orange: #f89e4f;
  --purple: #9253a1;
  --red: #f16164;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  font-family: 'GT-Maru', sans-serif;
}

.hidden {
  visibility: hidden;
}

main {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

button {
  all: unset;
  height: 40px;
  padding: 0 25px;
  color: white;
  background-color: var(--orange);
  border-radius: 2rem;
  cursor: pointer;
  user-select: none;
}

button:hover {
  opacity: 0.8;
}

p {
  font-size: 1.8rem;
  margin: 1rem 0;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}




/* 
  tag - GAME INSTRUCTIONS
*/
#instruction {
  margin: 2rem 0;
  min-height: 120px;
}
#instruction>p {
  font-weight: bold;
  text-align: center;
}
#instruction>.player-hands {
  text-align: center;
}
#instruction>.player-hands>button:last-child {
  margin-top: 2rem;
}




/* 
  tag - STATS
*/

#stats {
  width: 90%;
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 25;
  right: 0;
}
#stats p {
  font-size: 1.2rem;
  margin: 0.25rem 0;
}
#stats .bar {
  width: 0;
  height: 2rem;
  background-color: var(--purple);
  position: relative;
}
#stats .bar>.win-rate {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(120%, -50%);
}



/* 
  tag - CARDS
*/

.deck {
  width: 50%;
  margin: 20px auto;
  background: dodgerblue;
  border: solid 10px black;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: white;
}
